
body.landing{
 background-color: rgb(58,23,63);
}



.hero-content{
  position:relative;
  min-height: 600px;
  background: url(../assets/images/bloc_jams_bg.jpg) center center no-repeat;
  background-size: cover;

}

.hero-content .hero-title{
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:100%;
  text-align:center;
  font-size:4rem;
  font-weight:300;
  text-transform: uppercase;
  letter-space: 0.5rem;
  text-shadow: 1px 1px 0 rgb(58,23,63);
}

.selling-points{
  position:relative;

}

.point{
  position: relative;
  padding: 2rem;
  text-align:center;
  opacity: 1;
  -moz-transform: scaleX(0.4), translateY(3rem) rotate(180deg);
  -webkit-transform: scaleX(0.4), translateY(3rem) rotate(180deg);
  transform: scaleX(0.4), translateY(3rem) rotate(180deg);
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.point .point-title{
  font-size: 1.25rem;
}

.ion-music-note, .ion-radio-waves, .ion-iphone {
  color: rgb(233,50,117);
  font-size: 5rem;
}
